.card{
  margin-top: 5px;
  text-align: center;  
}

.strong{
    color:#aed831;
}



.titulo{
    font-size: 45px;
  }

.content{
    margin-top: 10px;
}

.recordatorio{
  background-color: #aed831 !important;
  color: #Fff !important;
  margin: 10px;
}




  
  
  
  
  
  
  

